@media (max-width: 900px) and (orientation: portrait) {
    body main {
        .faqs {
            width: 70%;
            border-radius: 1.5vh;
            padding: 4vh;
            box-shadow: 0vh .7vh 3vh -1vh $dark_blue;

            &__header {
                gap: 2.5vh;
                font-size: 2.5vh;
            }

            &__list {
                &-icon {
                    height: 4.2vh;
                }

                &-title {
                    width: 80%;
                    font-size: 2.3vh;
                }

                &-text {
                    font-size: 2.1vh;
                }
            }
        }       
    }
}

@media (max-width: 750px) and (orientation: portrait) {
    body main {
        .faqs {
            width: 85%;
        }       
    }
}

@media (max-width: 700px) and (orientation: portrait) {
    body {
        .background {
            &__desktop {
                display: none;
            }

            &__mobile {
                @include background(25vh);
                display: block;

            }
        }
    }
}