@import './config', './mixins', './media-queries', './components/accordion';

body {
    font-family: $default_font;
    background-color: $light_pink;
}

main {
    @include flexbox(100vh);
    height: 100dvh;

    .faqs {
        @include flexbox(auto, 40%);
        padding: 5vh 2.5vw;
        gap: 2vh;
        background-color: $white;
        border-radius: .9vw;
        box-shadow: 0vw .7vw 3vw -1vw $dark_blue;

        &__header {
            @include flexbox(auto, 100%, row, center, flex-start);
            gap: 1vw;
            font-size: clamp(.6rem, 1.5vw, 3rem);

            &-icon {
                height: 65%;
            }
        }
    }
}

.background {
    &__desktop {
        @include background(35vh);
    }

    &__mobile {
        display: none;
    }
}